<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory</title>
  </head>
  <body>
    This is the main view for inventory app! There should be a search bar
    <input type="text" />

    <div class="container">Also a big container for the listed products</div>
  </body>
</html>
